
footer {
	font-family: "OP-Medium";
	font-size: 1.0em;
	width: calc(100% - 100px);
	padding: 50px;
	background: rgba(255,255,255,0.03);
	color: white;
	& .footer_space {
		padding-right: 10px;
		padding-left: 10px;
	}
}

footer #left {
	width: 100%;
	max-width: 100%;
	display: flex;
	justify-content: center; 
	flex-direction: column;

}

footer #right {
	overflow-wrap: break-word;
	width: 100%;
	max-width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

footer #bottom {
	width: 100%;
	font-family: "OP-Regular";
	font-size: 0.92em;
	text-align: center;
}
footer #bottom a {
	font-family: "OP-Medium";
	color: white;
	text-decoration: none;
	transition: 0.45s ease;
}
footer #bottom a:hover {
	font-family: "OP-Bold"
}

footer ul {
	width: 100%;
	margin: 0px;
	padding-left: 0px;
	display: flex;
	justify-content: center;
}

footer li {
	padding: 2px;
	padding-right: 10px;
	padding-left: 10px;
	color: white;
	padding-bottom: 20px;
	list-style: none;
}

footer li > a {
	font-family: "OP-SemiBold";
	text-decoration: none;
	color: white;
	transition: 0.5s ease;
}

footer li > a:hover {
	opacity: 0.68;
}
