nav {
	width: 100%;
	max-width: 100vw;
	position: fixed; 
	top: 0;
	max-height: 40px;
	display: flex;
	justify-content: space-between;
	background: transparent;
	background-position: 0px -48vw;
	transition: 0.45s ease;
	-webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0);
	-moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0);
	box-shadow: 0px 10px 5px 0px rgba(0,0,0,0);
	animation: navload 5s ;
	z-index: 1000000;
	&.navbar--active {
		background: black;
		//background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), $generated_header;
		//background-position: 0px -50vw;
		//background-size: cover;
		//background-repeat: no-repeat;
		transition: 0.5s ease;
		-webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
		-moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
		box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
		&.default {
			//background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), $static_header;
			//background-position: 0px -50vw;
			//background-size: cover;
			//background-repeat: no-repeat;
		}
	}
}


#nav_but{
	height: 40px;
	margin-left: 20px;
	float: left;
	clear: left;
	z-index: 1000;
}

#nav_logo {
	float: right;
	margin-right: 45px;
	clear: right;
	opacity: 1;
	transition: opacity 0.7s ease;
}

#nav_logo > a {
	width: 80px;
	height: 40px;
	position: relative;
	background-image: url("/images/mnhdrn_logo.svg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	z-index: 1000;
}

#nav_panel {
	background: rgba(0,0,0,0.9);
	width: 320px;
	height: 100vh;
	position: absolute;
	left: -320px;
	transition: 0.25s ease;
	box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
	z-index: -1;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;

	& ul {
		width: 100%;
		height: 75%;
		margin: 0px;
		padding-left: 0px;
		display: flex;
		flex-direction: column;
	}

	& li {
		width: 100%;
		color: white;
		padding-top: 20px;
		padding-bottom: 20px;
		list-style: none;
		text-align: center;
	}

	& li > a {
		font-family: "OP-SemiBold";
		text-decoration: none;
		color: white;
		transition: 0.5s ease;
	}

	& li > a:hover {
		opacity: 0.68;
	}
}

#nav_overlay {
	background: black;
	opacity: 0;
	width: 100vw;
	height: 100vh;
	position: absolute;
	right: -100vw;
	top: 0;
	z-index: -5;
	display: flex;
	transition: opacity 0.5s ease;
	&.is-active {
		right: 0;
		opacity: 0.35;
	}
}

#langage_select {
	width: 20%;
	height: 5%;
	top: 10px;
	right: 35px;
	color: white;
	text-align: center;
	position: absolute;
	display: flex;
	justify-content: space-around;
}

#langage_select span {
	cursor: pointer;
	color: white;
	text-decoration: none;
	display: block;
	transition: 0.5s ease;

	& span:hover {
		font-family: "OP-Bold";
	}
}

#nav_but.is-active ~ #nav_logo {
	cursor: default;
	pointer-events: none;
	opacity: 0;
}

#nav_but.is-active + #nav_panel {
	left: 0px;
//	-webkit-box-shadow: 18px 0px 12px 12px rgba(0,0,0,0.8);
//	-moz-box-shadow: 18px 0px 12px 12px rgba(0,0,0,0.8);
//	box-shadow: 18px 0px 12px 12px rgba(0,0,0,0.8);
}


.no-border {
	outline-color: rgba(0,0,0,0) !important;
}

// ----------------------------- animation
// ----------------------------- 

@keyframes navload{
	0% {
		background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), $generated_header;
	}
	5% {
		background: transparent;
	}
}
